<div class="container">
  <h1>Welcome to Bike Berlin</h1>
  <h2>Your source for used bikes in Berlin</h2>
  <div class="body-content">
    <p>This app is designed to help users purchase used bicycles in Berlin and was first created by Emil Dixon on 7 Nov 2016.</p>
  </div><!-- /.body-content -->
</div>