<div class="container">
	<h1>Welcome to Bike Berlin</h1>
	<h2>Your source for used bikes in Berlin</h2>
	<div class="body-content contact-info">
		<p>Contact Us:</p>
		<p>Location: Berlin</p>
		<p>Phone: 555-555-5555</p>
		<p>Email: info@website.com</p>
	</div><!-- /.body-content -->
</div>