<div class="container">
  <h1>Welcome to Bike Berlin</h1>
  <h2>Your source for used bikes in Berlin</h2>
  <div class="body-content">
    <p>Welcome!  The date and time is <%= Time.now %></p>
    <%= image_tag("dog.jpg", class: "img-responsive dog-pic") %>
  </div><!-- /.body-content -->
</div>

