<h2>Featured Product:</h2>
<div class = "featured-product">
  <p><strong><%= @featured_product.name %></strong></p>
  <p><%= image_tag(@featured_product.image_url, height: "33%", width: "33%") %></p>
</div><!-- /.featured-product -->