<table align="center" border="1">
  <tbody>
    <tr bgcolor="#70bbd9">
      <td align="center" style="padding: 10px 10px 10px 10px"><p><strong>Thank you for registering with Pens Berlin.  We hope you enjoy the website!</strong></p></td>
    </tr>
  </tbody>
</table>