<div class="product-reviews">
  <h4><strong>Reviews:</strong></h4>
  <% @comments.each do |comment| %>
    <div class="row">
      <hr>
      <div><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></div>
      
      <div>Rating:<span class="rated" data-score="<%= comment.rating %>"></span></div>
      <div><%= comment.body %></div>
    </div>
  <% end %>
</div>