<p id="notice"><%= notice %></p>

<div class="display-product">
  <%= render 'show', product: @product %>
</div><!-- /.display-product -->

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
